@import url("https://use.typekit.net/cfj0zjm.css");

#app {
  font-family: proxima-nova, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  background-color: #faf3dd;
  color: #282828;
  position: relative;
}

::selection,
::-moz-selection {
  background: #282828;
  color: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

*:focus {
  outline: none;
}

/* Titles */
h1 {
  font-family: kumlien-pro, serif;
  font-weight: normal;
  font-size: 24.1vw;
  line-height: 0.9;
  text-align: center;
  margin: 10vh 0 0 -10px;
  cursor: default;
}

h2 {
  font-family: kumlien-pro, serif;
  font-weight: 600;
  font-size: 3rem;
  line-height: 1.1;
  max-width: 70vw;
}

h3 {
  font-family: kumlien-pro, serif;
  font-weight: 600;
  font-size: 3rem;
  line-height: 1.1;
}

@media screen and (max-width: 630px) {
  h3 {
    font-size: 7vw;
  }
}

@media screen and (max-width: 680px) {
  h2 {
    max-width: 100%;
  }
}

/* Paragraphs */
p {
  font-size: 1.2rem;
  text-transform: uppercase;
}

@media screen and (max-width: 630px) {
  p {
    font-size: 1rem;
  }
}

/* Anchor links */
a {
  position: relative;
  color: inherit;
  text-decoration: none;
  overflow: hidden;
}

.a-link::before,
.b-link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 100%;
  transition: transform 0.4s ease-out;
}

.a-link::before {
  background: #faf3dd;
  transform:scaleX(1);
  transform-origin:left
}

.b-link::before {
  background: #282828;
  transform: scaleX(0);
  transform-origin: right;
}

.a-link:hover::before {
  transform: scaleX(0);
  transform-origin: right;
}

.b-link:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}
