@font-face {
  font-family: "FF Mark";
  src: url("../fonts/FFMark.otf") format("truetype");
}

@font-face {
  font-family: "Freight Text";
  src: url("../fonts/Freight\ Text.otf") format("truetype");
}

@import url("https://fonts.googleapis.com/css?family=Cormorant&display=swap");
@import url("https://use.typekit.net/cfj0zjm.css");

#app {
  font-family: proxima-nova, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  background-color: #faf3dd;
  color: #282828;
  position: relative;
}

::selection,
::-moz-selection {
  background: #282828;
  color: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

*:focus {
  outline: none;
}

h1 {
  font-family: kumlien-pro, serif;
  font-weight: normal;
  font-size: 26vw;
  margin: 10vh 0 0 -10px;
  line-height: 0.9;
  cursor: default;
}

h2 {
  font-family: kumlien-pro, serif;
  font-weight: 600;
  font-size: 3rem;
  line-height: 1.1;
  max-width: 70vw;
}

h5 {
  text-align: center;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

h5 span {
  color: #d06255;
}

p {
  /* font-weight: 300; */
  font-size: 1.2rem;
  text-transform: uppercase;
}

a {
  position: relative;
  color: inherit;
  text-decoration: none;
  /* overflow: hidden; */
}

.a-link::before,
.b-link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 100%;
  background: #282828;
  transition: transform 0.4s ease-out;
}

.a-link::before {
  transform:scaleX(1);
  transform-origin:left
}

.b-link::before {
  transform: scaleX(0);
  transform-origin: right;
}

.a-link:hover::before {
  transform: scaleX(0);
  transform-origin: right;
}

.b-link:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

/* Pages projets */

.projet-title {
  min-height: calc(100vh - 110px);
  position: relative;
}

.projet-presentation {
  display: grid;
  grid-template-columns: 3vw 1fr 1fr 3vw;
  margin-top: 5vh;
  margin-bottom: 8vh;
}

.projet-presentation h4 {
  grid-column: 2/3;
  max-width: 250px;
  justify-self: center;
}

.projet-presentation p {
  grid-column: 3/3;
  grid-row: 2;
  max-width: 600px;
  margin: 0;
}

@media screen and (max-width: 950px) {
  .projet-presentation {
    grid-template-columns: 3vw 1fr 3vw;
  }

  .projet-presentation h4 {
    grid-row: 2;
    text-align: center;
    max-width: 100%;
    margin-top: 10vh;
  }

  .projet-presentation p {
    grid-row: 1;
    grid-column: 2/3;
    justify-self: center;
    text-align: justify;
  }
}

.projet-showcase {
  display: grid;
  grid-template-columns: 10vw 1fr 10vw;
  grid-row-gap: 10vh;
  margin-top: 10vh;
}

.projet-showcase img {
  width: 100%;
  grid-column: 2/3;
}

#projet-img-responsive {
  width: 50%;
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 950px) {
  .projet-showcase {
    grid-template-columns: 3vw 1fr 3vw;
  }
}

.projet-infos {
  grid-column: 2/3;
}

.projet-infos p {
  display: flex;
  justify-content: space-between;
}

.projet-infos p:nth-child(1) {
  border-bottom: 2px solid;
  padding-bottom: 19px;
}

@media screen and (max-width: 697px) {
  .projet-infos p {
    flex-direction: column;
    align-items: center;
    row-gap: 0.5rem;
  }
}

.next-project {
  justify-self: center;
  grid-column: 2/3;
  margin-top: 10vh;
}

.next-project a {
  color: #282828 !important;
}

.next-project a:hover {
  color: #d06255 !important;
}
