html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: var(--background);
  font-family: var(--font);
  color: var(--white);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

::-moz-selection {
  background: var(--secondary_alt);
  color: whitesmoke;
}

::selection {
  background: var(--secondary_alt);
  color: whitesmoke;
}

:root {
  //   --background: #141414;
  --background: #181818;
  --white: #eeeeee;
  --black: #333333;
  //   --secondary: #e0d7a1;
  --secondary: #f93700;
  --secondary_alt: #ff501e;
  --font: tenez, serif;
}

// Basics
p {
  font-size: calc(1em + 0.2vw);
  line-height: 1.5;
}

a {
  font-size: calc(1em + 0.2vw);
  position: relative;
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: calc(1.8em + 4.4vw);
  font-weight: normal;
  line-height: 1;
  opacity: 0;
  transform: translateY(30px);
  z-index: 1;
  margin: 0;
}

h2 {
  font-size: calc(1em + 2vw);
  font-weight: normal;
  line-height: 1;
  opacity: 0;
  transform: translateY(30px);
  z-index: 1;
  margin: 0.5em 0;
}

h3 {
  font-size: calc(1.5em + 1vw);
  font-weight: bold;
  line-height: 1;
  margin: 0 0 0.5em;
  opacity: 0;
  transform: translateY(30px);
}

// Geometry
.circle-container {
  position: absolute;
  top: 50vh;
  left: 50%;
  transform: translate(-95%, -50%);
  height: 45vw;
  width: 45vw;

  .circle {
    border: 1px solid var(--white);
    border-radius: 50%;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    transform: scale(0);
  }
}

.vertical-line {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) scaleY(0);
  width: 1px;
  height: 100vh;
  background-color: var(--white);
  opacity: 0.1;
}

.horizontal-line {
  position: absolute;
  top: 65vh;
  left: 0;
  transform: scaleX(0);
  width: 100vw;
  height: 1px;
  background-color: var(--white);
  opacity: 0.1;
}

@media screen and (max-width: 834px) {
  .circle-container {
    transform: translate(-50%, -50%);
    height: 85vw;
    width: 85vw;
  }

  .horizontal-line {
    top: 50vh;
  }
}

// Nav
nav {
  padding-right: 2vw;
  padding-left: 2vw;

  a {
    transition: color 0.3s;

    &:hover {
      color: var(--secondary);
    }
  }

  .current {
    color: var(--secondary);
  }

  div:nth-child(1) {
    position: fixed;
    top: 6vh;
    z-index: 2;
    transform: translateY(30px);
    opacity: 0;

    svg g {
      font-size: 30px;
      fill: var(--white);
    }
  }

  div:nth-child(2) {
    position: fixed;
    top: 50%;
    right: 2vw;
    transform: translate(30px, -50%);
    opacity: 0;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    writing-mode: vertical-lr;
  }

  div:nth-child(3) {
    position: fixed;
    bottom: 6vh;
    transform: translateX(-30px);
    opacity: 0;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    writing-mode: vertical-lr;
  }
}

// Main
main {
  padding-left: 10vw;
  padding-right: 10vw;
}

// Intro
.intro {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;

  img {
    max-width: 15vw;
    user-select: none;
    pointer-events: none;
  }

  h1 {
    font-size: 7vw;
    position: absolute;
    top: 20%;

    span:first-child {
      position: absolute;
      right: 6vw;
    }

    span:last-child {
      position: absolute;
      left: 6vw;
    }
  }

  @media screen and (max-width: 1050px) {
    img {
      max-width: 25vw;
    }
    h1 {
      font-size: 10vw;
    }
  }

  .star {
    margin-top: 5vh;
    width: 42px;
    height: 42px;
    opacity: 0;
    fill: var(--secondary);
    animation: starAnim 8s linear infinite;
  }

  @keyframes starAnim {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }

  p {
    z-index: 1;
    opacity: 0;
    transform: translateY(100%);
    max-width: 30ch;
  }

  .socials {
    margin-top: 3vh;
    width: calc(150px + 2vw);
    display: flex;
    justify-content: space-between;
    align-items: center;

    > * {
      transform: translateY(100%);
      opacity: 0;
    }

    a svg {
      max-height: 30px;

      path {
        fill: var(--white);
        transition: 0.3s;
      }
    }

    a:hover svg path {
      fill: var(--secondary);
    }
  }
}

// Work
#work {
  padding-top: 15vh;

  .project {
    padding-bottom: 10vh;
    max-width: 100ch;
    margin: auto;
    position: relative;

    .text {
      position: absolute;
      top: 50%;
      left: 50%;
      width: max-content;
      transform: translate(-50%, -50%) rotate(180deg);
      font-size: 15vw;
      font-weight: bold;
      opacity: 0;
      user-select: none;
    }

    @media screen and (max-width: 414px) {
      .text {
        transform: translate(-50%, -70%) rotate(180deg);
      }
    }

    figure {
      width: 100%;
      height: 50vh;
      margin: 0;
      position: relative;
      z-index: 1;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        position: inherit;
        clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
      }
    }
    
    p {
      opacity: 0;
      transform: translateY(30px);
    }

    & > div:first-of-type {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
    }

    & > div:last-of-type {
      position: relative;

      p {
        width: 50%;
        padding-right: 1em;
      }

      & > div {
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        opacity: 0;
        transform: translateY(30px);

        .line {
          position: absolute;
          top: 0.9em;
          left: 0;
          height: 1px;
          width: calc(100% - 150px);
          background-color: var(--white);
          pointer-events: none;
          transition: 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
        }

        a {
          text-transform: uppercase;
          height: max-content;
          position: absolute;
          right: 0;

          &:hover + .line {
            width: 100%;
          }
        }
      }
    }

    @media screen and (max-width: 834px) {
      p {
        width: 100%;
      }

      & > div {
        position: relative;
        margin-top: 4vh;

        .line {
          top: 0.7em;
        }
      }
    }

    @media screen and (max-width: 414px) {
      & > div {
        width: 90%;
      }
    }
  }

  @media screen and (max-width: 834px) {
    .project {
      padding-bottom: 15vh;
    }
  }
}

// About
#about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 10vh;

  img {
    max-width: 100%;
    z-index: 1;
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    transition: transform 2s cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  & > div {
    margin-left: 3vw;
    position: relative;

    h1 {
      font-size: calc(5em + 5vw);
    }

    p {
      opacity: 0;
      transform: translateY(100%);
    }

    .cv {
      width: 50%;
      position: absolute;
      bottom: 0;
      opacity: 0;
      transform: translateY(30px);

      a {
        position: absolute;
        right: 0;
        bottom: 0;
        width: max-content;
        transition: color 0.7s;
      }

      .line {
        position: absolute;
        bottom: 0.7em;
        left: 0;
        height: 1px;
        width: calc(100% - 150px);
        background-color: var(--white);
        pointer-events: none;
        transition: 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
      }

      a:hover {
        color: var(--secondary);

        &:hover + .line {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 1675px) {
  #about {
    display: flex;
    flex-direction: column-reverse;

    & > div {
      margin-left: 0;
      margin-bottom: 10vh;

      .cv {
        position: unset;
        margin-top: 4em;
      }
    }
  }
}

@media screen and (max-width: 414px) {
  .cv {
    width: 90% !important;
  }
}

// Contact
.contact {
  margin-top: 20vh;
  position: relative;

  p {
    font-size: 4.5vw;
    transform: translateY(30px);
    opacity: 0;
  }

  a {
    color: var(--secondary);

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      height: 1px;
      width: 100%;
      background: var(--secondary);
      overflow: hidden;
      transform: scaleX(1);
      transform-origin: left;
      transition: transform 0.4s ease-out;
    }

    &:hover::after {
      transform: scaleX(0);
      transform-origin: right;
    }
  }

  .circle-container {
    position: absolute;
    top: 50%;
  }
}

// Footer
footer {
  padding: 15vh 10vw 2vh;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & > * {
    transform: translateY(30px);
    opacity: 0;
  }

  ul {
    display: flex;
    justify-content: space-between;
    width: calc(100px + 2vw);

    a {
      transition: color 0.3s;

      &:hover {
        color: var(--secondary);
      }
    }
  }
}

@media screen and (max-width: 600px) {
  footer {
    justify-content: center;

    p {
      display: none;
    }
  }
}
