html {
  scroll-behavior: smooth;
}

:root {
  --background: #f2f2f2;
  --primary-color: #333333;
  --secondary-color: #dbcf89;
  --secondary-color-alt: #f0e9c0;
  --font: tenez, serif;
}

body[data-theme="dark"] {
  --background: #181818;
  --primary-color: #f2f2f2;
}

body[data-theme="dark"] #wolf {
  display: none;
}

body[data-theme="dark"] #angry {
  display: block;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: var(--background);
  font-family: var(--font);
  color: var(--primary-color);
  -webkit-transition: color 0.4s, background-color 0.4s, fill 0.4s;
  transition: color 0.4s, background-color 0.4s, fill 0.4s;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

::-moz-selection {
  background: var(--secondary-color-alt);
  color: whitesmoke;
}

::selection {
  background: var(--secondary-color-alt);
  color: whitesmoke;
}

p {
  font-size: calc(1em + 0.2vw);
  line-height: 1.5;
}

a {
  font-size: calc(1em + 0.2vw);
  position: relative;
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: calc(1.8em + 4.4vw);
  font-weight: normal;
  line-height: 1;
  opacity: 0;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  z-index: 1;
  margin: 0;
}

h2 {
  font-size: calc(1em + 2vw);
  font-weight: normal;
  line-height: 1;
  opacity: 0;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  z-index: 1;
  margin: 0.5em 0;
}

h3 {
  font-size: calc(1.5em + 1vw);
  font-weight: bold;
  line-height: 1;
  margin: 0 0 0.5em;
  opacity: 0;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
}

nav {
  padding-right: 2vw;
  padding-left: 2vw;
}

nav a {
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  cursor: pointer;
  z-index: 2;
}

nav a:hover {
  color: var(--secondary-color);
}

nav .current {
  color: var(--secondary-color);
}

nav div:nth-child(1) {
  position: fixed;
  top: 6vh;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  opacity: 0;
}

nav div:nth-child(1) svg g {
  font-size: 30px;
  fill: var(--primary-color);
}

nav div:nth-child(2) {
  position: fixed;
  top: 50%;
  right: 2vw;
  -webkit-transform: translate(30px, -50%);
          transform: translate(30px, -50%);
  opacity: 0;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  z-index: 1;
}

nav div:nth-child(3) {
  position: fixed;
  bottom: 6vh;
  -webkit-transform: translateX(-30px);
          transform: translateX(-30px);
  opacity: 0;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  z-index: 1;
}

main {
  padding-left: 10vw;
  padding-right: 10vw;
}

header {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  position: relative;
  padding-left: 10vw;
  padding-right: 10vw;
}

header .circle-container {
  position: absolute;
  top: 50vh;
  left: 50%;
  -webkit-transform: translate(-95%, -50%);
          transform: translate(-95%, -50%);
  height: 45vw;
  width: 45vw;
}

header .circle-container .circle {
  border: 1px solid var(--primary-color);
  border-radius: 50%;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  -webkit-transform: scale(0);
          transform: scale(0);
}

header .vertical-line {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%) scaleY(0);
          transform: translateX(-50%) scaleY(0);
  width: 1px;
  height: 100vh;
  background-color: var(--primary-color);
  opacity: 0.1;
}

header .horizontal-line {
  position: absolute;
  top: 65vh;
  left: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  width: 100vw;
  height: 1px;
  background-color: var(--primary-color);
  opacity: 0.1;
}

@media screen and (max-width: 834px) {
  header .circle-container {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    height: 85vw;
    width: 85vw;
  }
  header .horizontal-line {
    top: 50vh;
  }
}

header img {
  max-width: 15vw;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  z-index: 1;
  opacity: 0;
}

header #angry {
  display: none;
}

header h1 {
  font-size: 7vw;
  position: absolute;
  top: 20%;
}

header h1 span:first-child {
  position: absolute;
  right: 6vw;
}

header h1 span:last-child {
  position: absolute;
  left: 6vw;
}

@media screen and (max-width: 1050px) {
  header img {
    max-width: 25vw;
  }
  header h1 {
    font-size: 10vw;
  }
}

header .star {
  margin-top: 5vh;
  width: 42px;
  height: 42px;
  opacity: 0;
  fill: var(--secondary-color);
  cursor: pointer;
  -webkit-animation: starAnim 8s linear infinite;
          animation: starAnim 8s linear infinite;
}

@-webkit-keyframes starAnim {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes starAnim {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

header p {
  z-index: 1;
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  max-width: 30ch;
}

header .socials {
  margin-top: 3vh;
  width: calc(150px + 2vw);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .socials > * {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  opacity: 0;
}

header .socials a svg {
  max-height: 30px;
}

header .socials a svg path {
  fill: var(--primary-color);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header .socials a:hover svg path {
  fill: var(--secondary-color);
}

#work {
  padding-top: 15vh;
}

#work .project {
  padding-bottom: 10vh;
  max-width: 100ch;
  margin: auto;
  position: relative;
}

#work .project .text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -webkit-transform: translate(-50%, -50%) rotate(180deg);
          transform: translate(-50%, -50%) rotate(180deg);
  font-size: 15vw;
  font-weight: bold;
  opacity: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

@media screen and (max-width: 414px) {
  #work .project .text {
    -webkit-transform: translate(-50%, -70%) rotate(180deg);
            transform: translate(-50%, -70%) rotate(180deg);
  }
}

#work .project figure {
  width: 100%;
  height: 50vh;
  margin: 0;
  position: relative;
  z-index: 1;
}

#work .project figure img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  position: inherit;
  -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
          clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
}

#work .project p {
  opacity: 0;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
}

#work .project > div:first-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#work .project > div:last-of-type {
  position: relative;
}

#work .project > div:last-of-type p {
  width: 50%;
  padding-right: 1em;
}

#work .project > div:last-of-type > div {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  opacity: 0;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
}

#work .project > div:last-of-type > div .line {
  position: absolute;
  top: 0.9em;
  left: 0;
  height: 1px;
  width: calc(100% - 150px);
  background-color: var(--primary-color);
  pointer-events: none;
  -webkit-transition: 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#work .project > div:last-of-type > div a {
  text-transform: uppercase;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  position: absolute;
  right: 0;
}

#work .project > div:last-of-type > div a:hover + .line {
  width: 100%;
}

@media screen and (max-width: 834px) {
  #work .project > div:last-of-type p {
    width: 100%;
  }
  #work .project > div:last-of-type > div {
    position: relative;
    margin-top: 4vh;
  }
  #work .project > div:last-of-type > div .line {
    top: 0.7em;
  }
}

@media screen and (max-width: 414px) {
  #work .project > div:last-of-type > div {
    width: 90%;
  }
}

@media screen and (max-width: 834px) {
  #work .project {
    padding-bottom: 15vh;
  }
}

#about {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding-top: 10vh;
}

#about img {
  max-width: 100%;
  z-index: 1;
  -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
          clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  -webkit-transition: -webkit-transform 2s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: -webkit-transform 2s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 2s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 2s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 2s cubic-bezier(0.215, 0.61, 0.355, 1);
}

#about > div {
  margin-left: 3vw;
  position: relative;
}

#about > div h1 {
  font-size: calc(5em + 5vw);
}

#about > div p {
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

#about > div .cv {
  width: 50%;
  position: absolute;
  bottom: 0;
  opacity: 0;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
}

#about > div .cv a {
  position: absolute;
  right: 0;
  bottom: 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -webkit-transition: color 0.7s;
  transition: color 0.7s;
}

#about > div .cv .line {
  position: absolute;
  bottom: 0.7em;
  left: 0;
  height: 1px;
  width: calc(100% - 150px);
  background-color: var(--primary-color);
  pointer-events: none;
  -webkit-transition: 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#about > div .cv a:hover {
  color: var(--secondary-color);
}

#about > div .cv a:hover:hover + .line {
  width: 100%;
}

@media screen and (max-width: 1675px) {
  #about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  #about h1 {
    margin-bottom: 0.3em;
  }
  #about > div {
    margin-left: 0;
    margin-bottom: 10vh;
  }
  #about > div .cv {
    position: unset;
    margin-top: 4em;
  }
}

@media screen and (max-width: 414px) {
  #about h1 {
    margin-bottom: 0.5em;
  }
  .cv {
    width: 90% !important;
  }
}

.contact {
  margin-top: 20vh;
  position: relative;
}

.contact .circle-container {
  position: absolute;
  top: 50vh;
  left: 50%;
  -webkit-transform: translate(-95%, -50%);
          transform: translate(-95%, -50%);
  height: 45vw;
  width: 45vw;
}

.contact .circle-container .circle {
  border: 1px solid var(--primary-color);
  border-radius: 50%;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  -webkit-transform: scale(0);
          transform: scale(0);
}

@media screen and (max-width: 834px) {
  .contact .circle-container {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    height: 85vw;
    width: 85vw;
  }
}

.contact p {
  font-size: 4.5vw;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  opacity: 0;
}

.contact a {
  color: var(--secondary-color);
}

.contact a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 100%;
  background: var(--secondary-color);
  overflow: hidden;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform 0.4s ease-out;
  transition: -webkit-transform 0.4s ease-out;
  transition: transform 0.4s ease-out;
  transition: transform 0.4s ease-out, -webkit-transform 0.4s ease-out;
}

.contact a:hover::after {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
}

.contact .circle-container {
  position: absolute;
  top: 50%;
}

footer {
  padding: 15vh 10vw 2vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer > * {
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  opacity: 0;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: calc(100px + 2vw);
}

footer ul a {
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

footer ul a:hover {
  color: var(--secondary-color);
}

@media screen and (max-width: 600px) {
  footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer p {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */