.circle-container {
  position: fixed;
  top: 50vh;
  left: 50%;
  width: min(90vh, 90vw);
  height: min(90vh, 90vw);
  aspect-ratio: 1;
  transform: translate(-50%, -50%);

  & .circle {
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
  }
}

.vertical-line {
  position: fixed;
  top: 0;
  left: 50%;
  width: 1px;
  height: 100vh;
  transform-origin: top;
  background-color: rgba(0, 0, 0, 0.1);
}

.horizontal-line {
  position: absolute;
  top: 60vh;
  left: 0;
  width: 100%;
  height: 1px;
  transform-origin: left;
  background-color: rgba(0, 0, 0, 0.1);
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  row-gap: 0.5rem;
}

.line {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 24px;
  overflow: hidden;

  &>* {
    position: absolute;
  }
}

h1 {
  font-size: 1.8rem;
}

ul {
  display: flex;
  justify-content: center;
  column-gap: 0.5rem;
}


a {
  position: relative;
  text-decoration: none;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: currentColor;
  }

  &:hover,
  &:focus {
    &::before {
      animation: underline 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    }
  }
}

@keyframes underline {
  0% {
    transform: scaleX(1);
    transform-origin: right;
  }

  33% {
    transform: scaleX(0);
    transform-origin: right;
  }

  66% {
    transform: scaleX(0);
    transform-origin: left;
  }

  100% {
    transform: scaleX(1);
    transform-origin: left;
  }
}